#map {
  height: 85vh; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.delete-button {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: center;
}


#pano-processing {
  /* display: flex; */
}

#pano {
  height: 85vh; /* The height is 400 pixels */
  width: 100%;
}

#input-canvas {
  width: 100%;
  background-color: rgba(0,0,255,0.1);  /* blue */
}

